.input__control label {
    font-weight: 450;
    margin-bottom: 0.4rem;
    display: block;
  }
  
.input__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #A782EC;
    width: 20rem;
    max-width: 100%;
}

input[type="text"], input[type="password"], textarea, select { 
    outline-color: #A782EC;
}