.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background-color: #F89F5B; 
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
  }

.title {
    padding: 0 10%;
}

.actions {
    margin-left: 4rem;
    margin-right: 10%;
    width: 30%;
}

.actions ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
}

.actions ul li {
    cursor: pointer;
}

.actions ul li:hover {
    color: #3F1651;
}